.navigation{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }

.button-navigation {
    display: flex;
    text-decoration: none;
    color: #484848;
    gap: 10px;
    background-color: #ffffff;
    padding: 16px;
    font-size: 18px;
    border-radius: 12px 0 0 12px;

    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}



.button-navigation .icon svg{
    height: 20px;
    width: 20px;
}

.button-navigation-active{
    color: #ffffff;
    background-color: #1BC681;
}