.progressionBarBG {
    background-color:blue;
    /* background-color: #D9D9D9; */
    border-radius: 25%;
    width: 240px;
    height: 8px;
}

.progressionBarProg {
    background-color:red;
    /* background-color: #1BC681; */
    border-radius: 25%;
    width: 10%;
    height: 8px;
}