.helpBox {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: auto;
    color: #ffffff;
    background-color: #1BC681;
    border-radius: 6px;
    padding: 16px 60px 16px 16px;
    margin: auto 30px 24px 30px;

}

.helpTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 8px;

}

.helpContent {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 16px;
    
}

.helpButton{
    margin-bottom:8px;
    margin-top:8px;
}

.helpButton a {
    text-decoration: none;
    color: #ffffff;
    background-color: #1BC681;
    margin-bottom: auto;
    margin-top: 8px;
    border: solid 2px white;
    border-radius: 6px;

    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 8px 24px;

}

.helpBox .helpButton a:active {  /* Seletor específico para o botão do HelpBox */
    background-color: white;
    color: #1BC681;
}
