.sidebar{
  background-color: #fff;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}



.sideDiv1{
  margin: 24px 0 auto 40px;
  
}

.sideDiv1 .navGroup{
  margin-bottom: auto;
}

.sideDiv1 .logoDiv {
  margin-bottom: 60px;
}


.sideDiv2{
  margin-top: auto;
}

.shortCuts {
  display: flex;
  gap: 16px;
  margin-bottom: 22px;
}

.content{
   padding: 0 36px 36px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   justify-content: center;
   align-items: center;
   background-color: #1BC681;
  }

.contentMid {
  display: flex;
  gap: 24px;
}


.painelCartoes {
  display: flex;
  /* background-color: white; */
}

.painelUltimasCompras {
  display: flex;
  /* background-color: white; */
}
